[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
opencv-contrib-python = "*"
opencv-python = "*"
tensorflow = "*"
jsonpickle = "*"
python-dotenv = "*"

[dev-packages]
scanapi = "*"

[requires]
python_version = "3.8"
